<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/r/<%=name%>
    </title>
</head>

<body>
    <h1>Welcome to the <%= name %> subreddit!</h1>
    <p>Description: <%=description%>
    </p>
    <p>Number of subscribers: <%=subscribers%>
    </p>
    <ul>
        <% for(post of posts){ %>
            <li>
                <%=post.title%>
                    <ul>
                        <li>
                            Author: <%=post.author%>
                        </li>
                        <%if(post.img){%>
                            <li>
                                <img src="<%=post.img%>" alt="reddit post image">
                            </li>
                            <%}%>
                    </ul>
            </li>
            <%}%>
    </ul>
</body>

</html>